*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    font-size: 10px;

}

.wrapper{
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
    display: flex;
    overflow: hidden;



}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px -18px 52px rgba(46, 91, 255, 0.2);

}

.mainHeader__container{
    max-width: 1020px ;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper__line{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(131, 156, 148, 0.2);;
}

.supHeader{

    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 9px 0;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.subHeader__text{
    margin-right: 30px;
}

.subHeader__text a{
    text-decoration: none;
    color: #13AA57;

}

.subHeader__text a:hover{
    text-decoration: underline;
}
.subHeader__lang{

    display: flex;
    -ms-align-items: center;
    align-items: center;

}

.mainHeader{

    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;


}
.header__list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    z-index: 3;
}

.navList__item{
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    transition: all 0.2s linear;
    margin-left: 20px;


}

.navList__item:hover{
    color: #13AA57;
}


/*-------intro-----------*/


.intro{
    padding-top: 117.2px;
    position: relative;
    margin-bottom: 143px;
}

.intro__inner{
    margin-top: 99px;

}




.intro__title{
    font-size: 45px;
    line-height: 54px;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
}

.intro__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #263238;
    margin-bottom: 30px;
}


.intro__link{
    background-color: #13AA57;
    border-radius: 5px;
    width: 292px;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;

}

.intro__link:hover{
    background-color: #127b42;
}







.intro__inner .intro__bg{
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
}
.intro__inner .intro__boy{
    position: absolute;
    top: 278px;
    right: 135px;
    z-index: -1;

}
.intro__inner .intro__cicle{
    position: absolute;
    top: 210px;
    right: 454px;
    z-index: -1;

}
.intro__inner .intro__leaf{
    position: absolute;
    top: 293px;
    right: 0;
    z-index: -1;

}







