*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    font-size: 10px;

}

.wrapper{
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
    display: flex;
    overflow: hidden;



}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px -18px 52px rgba(46, 91, 255, 0.2);

}

.mainHeader__container{
    max-width: 1020px ;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper__line{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(131, 156, 148, 0.2);;
}

.supHeader{

    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 9px 0;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.subHeader__text{
    margin-right: 30px;
}

.subHeader__text a{
    text-decoration: none;
    color: #13AA57;

}

.subHeader__text a:hover{
    text-decoration: underline;
}
.subHeader__lang{

    display: flex;
    -ms-align-items: center;
    align-items: center;

}

.mainHeader{

    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;


}
.header__list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    z-index: 3;
}

.navList__item{
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    transition: all 0.2s linear;
    margin-left: 20px;


}

.navList__item:hover{
    color: #13AA57;
}


/*-------intro-----------*/


.intro{
    padding-top: 117.2px;
    position: relative;
    margin-bottom: 143px;
}

.intro__inner{
    margin-top: 99px;

}




.intro__title{
    font-size: 45px;
    line-height: 54px;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
}

.intro__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #263238;
    margin-bottom: 30px;
}


.intro__link{
    background-color: #13AA57;
    border-radius: 5px;
    width: 292px;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;

}

.intro__link:hover{
    background-color: #127b42;
}







.intro__inner .intro__bg{
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
}
.intro__inner .intro__boy{
    position: absolute;
    top: 278px;
    right: 135px;
    z-index: -1;

}
.intro__inner .intro__cicle{
    position: absolute;
    top: 210px;
    right: 454px;
    z-index: -1;

}
.intro__inner .intro__leaf{
    position: absolute;
    top: 293px;
    right: 0;
    z-index: -1;

}

/*=======whatWEdo*/

.container__aboutUs{
    max-width: 922px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.aboutUs__title{
    font-size: 46px;
    line-height: 65px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 58px;
}

.aboutUs__whatdo{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 129px;
}

.aboutUs__whatdo:last-child{
    margin-bottom: 0;
}


.eco__img img{
    display: block;
}


.eco__title{
    font-size: 21px;
    font-weight: 600;
    line-height: 28.6px;
    color: #000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 3px;

}
.eco__title span{
    font-weight: 700;
    font-size: 60px;
    line-height: 77.64px;
    color: #13AA57;
    margin: 0 21px;
}

.eco__content p{
    font-size: 16px;
    line-height: 23px;
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
}

.eco__content .eco__link{
    background-color: #13AA57;
    border-radius: 5px;
    width: 292px;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
    color: #fff;

    filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
    margin-left: 19px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;

}

.eco__content .eco__link:hover{
    background-color: #127b42;
}

.eco__where{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.eco__where img{
    margin-right: 23px;
}

.eco__where .eco__where-link{
    color: #13AA57;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
}

.eco__where .eco__where-link:hover{
    text-decoration: none;
}

.aboutUs{
    position: relative;
    margin-bottom: 120px;
}
.bg__aboutUs{
    position: absolute;
    top: 580px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    min-width: 100%;

}

/*=========ecoEvents============*/
.ecoEvents{
    margin-bottom: 120px;
    position: relative;

}

.container__ecoEvents{
   max-width: 1040px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

.ecoEvents__title{
   text-align: center;
   font-size: 46px;
   line-height: 64px;
   font-weight: 600;
   color: #000;
   margin-bottom: 53px;
}

.ecoEvents__article{

   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;
}

.ecoEvents__article-first{
   background: #FFFFFF;
   box-shadow: -1px 13px 20px #F0F2F4;
   border-radius: 4px;
   margin-right: 15px;
}

.article__img{
   border-radius: 4px;
   display: block;
   max-width: 605px;
   width: 100%;
}

.eco__article{
   background: #fff;
   padding: 21px 0 29px 30px;

}
.ecoArticle__date{
   font-size: 14px;
   line-height: 24px;
   font-style: italic;
   font-weight: 400;
   color: #839C94;
   letter-spacing: 2.8px;
   margin-bottom: 10px;

}

.ecoArticle__title{
   font-size: 32px;
   color: #000;
   line-height: 40px;
   font-weight: 600;
   margin-bottom: 20px;
}
.ecoArticle__link a{
   text-decoration: none;
   color: #13AA57;
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
}
.ecoArticle__link a:hover{
   text-decoration: underline;
}


.ecoEvents__article-second{
  background: #FFFFFF;
   box-shadow: -1px 13px 20px #F0F2F4;
   border-radius: 4px;
   border-top: 7px solid #13AA57 ;
}

.eco__title-mod{
   font-size: 26px;
   line-height: 36px;
}

.article__line{
   margin: 0 30px;
   border: 0;
   height: 1px;
   background: rgba(150, 141, 153, 0.42);
}
.readAll__article{
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
}

.readAll__article a{
   width: 201px;
   height: 48px;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   -ms-align-items: center;
   align-items: center;
   background: #FFFFFF;
   border: 1px solid #13AA57;
   border-radius: 4px;
   text-decoration: none;
   color: #13AA57;
   filter: drop-shadow(0px 5px 20px rgba(118, 196, 125, 0.411204));

   font-size: 18px;
   line-height: 32px;
   font-weight: 400;

   transition: all 0.3s linear;




}
.readAll__article a:hover{
   background-color: rgba(19, 170, 87, 0.1);

}

.events__bg{
   position: absolute;
   left: 0;
   z-index: -1;

}
.events__bgtop{
   top: 241px;
}

.events__bgmiddle{
   top: 241px;
}

.events__bgbottom{
   top: 514px;
}


/*===========slider========*/



.slider__inner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.slider__title{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    color: #000;
    text-align: center;
}

.slider__wrapper{
    width: 100%;
    height: 300px;
    position: relative;
}
.slider__items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slider__item{
    padding: 30px 40px;
    background: #fff;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 5px;
    width: 408px;
    margin-right: 44px;
}

.slider__item:last-child{
    margin-right: 0;
}



.slider__logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


.slider__text{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #324148;
}

.slider__nav{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 15px;
}

.btn__nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background: #13AA57;
    box-shadow: 0px 25px 25px rgba(118, 196, 125, 0.314538);
    border-radius: 4px;
    border: 1px solid #13AA57;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
    transition: all 0.3s linear;



}

.btn__nav:hover {
    background: #fff;
}
.btn__nav:hover.btn__nav img{
    filter: invert(51%) sepia(43%) saturate(1475%) hue-rotate(107deg) brightness(87%) contrast(85%);
}



.btn__nav.btn_rot img{
    transform: rotate(180deg);
}

.desc{
    background: #F4F5F7;
}
.container__desc{
    max-width: 920px;
    width: 100%;
    margin: 57px auto;
    padding: 0 15px;


}


.desc__inner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;

}

.desc__img{
    display: block;
    margin-right: 10px;
}

.desc__title{
    font-size: 46px;
    line-height: 40px;
    color: #2B292D;
    font-weight: 700;
    margin-bottom: 30px;


}

.desc__subtitle{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #2B292D;
    margin-bottom: 34px;
}


.desc__input{
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 385px;
    width: 100%;
   height: 48px;
}

.desc__form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.desc__input[placeholder]{
    font-size: 18px;
    color: #839C94;
    font-weight: 400;
    margin-right: 30px;
}


.desc__button{
    background: #13AA57;
    color: #fff;
    width: 201px ;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    border: 0;
    border-radius: 4px;
    filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));

    transition: all 0.2s linear;



}

.desc__button:hover{
background:  rgba(19, 170, 87, 0.8);
    }


/*===========FOOTER=========*/

.footer{
    position: relative;
    margin: 90px 0 0;
}



.footer__container{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
}


.footer__get{
    width: 50%;
}
.footer__get img{
    margin-bottom: 60px;
}

.footer__link{
    width: 292px;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: #13AA57;
    border-radius: 4px;
    filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.footer__link:hover{
    background:  rgba(19, 170, 87, 0.8);

}



.footer__titlelist{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #2B292D;
    margin-bottom: 10px;
}

.footer__nav a{
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    color: #839C94;
    display: block;
    text-decoration: none;


}

.footer__nav a:hover{
    text-decoration: underline;
}


.footer__social a{
    margin-right: 20px;
    text-decoration: none;
}

.footer__social a:last-child{
    margin-right: 0;
}
.footer__bg{
    position: absolute;
    top: -320px;
    left: 50%;
    transform: translate(-50%);
    min-width: 1440px;
    width: 100%;
    z-index: -1;
}


.footer__copyright{
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    font-size: 14px;
    color: #839C94;
    border-top: 1px solid rgba(131, 156, 148, 0.2);


}

/*==================BREAKPOINTS===============================================*/
/*=============HEADER======================*/

@media (max-width: 795px) {

    .header{
        position: fixed;
    }
    .wrapper__line {
        display: none;
    }



    .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3;

    }
    .header__burger span {
    position: absolute;
    background: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
    }

    .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s linear;
}
    .header__burger:before {
    top: 0;
}
    .header__burger:after {
    bottom: 0;
}
    .header__menu{
        display: none;
    }





    /*==============intro========================*/

    .intro__content{
        text-align: center;
    }

    .intro__title{
        font-size: 40px;
    }

    .intro__text {
        font-size: 16px;
    }

    .intro__link{
        margin: 0 auto;
    }

    .intro__boy{
        display: none;
    }
    .intro__cicle{
        display: none;
    }


    /*============aboutUS===============*/



    .aboutUs__title {
        font-size: 40px;
    }

   /* .aboutUs__whatdo{
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;


    }
*/
}


@media (max-width: 670px) {


    /*=======ABOUTUS================*/
    .aboutUs__whatdo{
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }



    /*============ECO_EVENTS==============*/

    .ecoEvents__title{
        font-size: 40px;
    }


    .ecoEvents__article{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .ecoEvents__article-first{
        margin-right: 0;
        position: relative;
    }

    .eco__article.break{
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75%;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: -1px 13px 20px #F0F2F4;
        border-radius: 0px 0px 4px 4px;
        padding: 10px 0 10px 10px;

    }

    .ecoArticle__title{
        width: 100%;
        font-size: 30px;

    }
    .ecoArticle__title .title__break{
        display: none;
    }

    .ecoEvents__article-second{
        width: 100%;
        border-top: 0;
        margin-top: 20px;
    }


    /*===========DESC=============*/

    .desc__inner{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .desc__img{
        margin: 0 0 10px 0;
    }

    .desc__content{
        text-align: center;
    }


    /*============footer======================*/


    .footer__content{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .footer__get{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer__link{
        margin: 0 auto;
    }

    .footer__nav{
        margin-bottom: 40px;
    }
}






